<div>
    <div class="jumbotron">
        <div class="container">
            <h1>Personal Agenda</h1>
            <p>This is the home page of your new Personal Agenda!!!!</p>
            <p>Please, sign in or sign up</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Contacts</h2>
                <p>
                    You can manage your contacts in an easy way.
                    <ul>
                        <li>Create a contact</li>
                        <li>View all your contacts</li>
                        <li>Delete and modify your contacts</li>
                    </ul>
                </p>
            </div>

            <div class="col-md-4">
                <h2>Agendas</h2>
                <p>
                    You can manage your agendas in an easy way.
                    <ul>
                        <li>Create an agenda</li>
                        <li>View all your agendas</li>
                        <li>Delete and modify your agendas</li>
                    </ul>
                </p>
            </div>

            <div class="col-md-4">
                <h2>Companies</h2>
                <p>
                    You can manage your companies in an easy way.
                    <ul>
                        <li>Create a company</li>
                        <li>View all your companies</li>
                        <li>Delete a company</li>
                    </ul>
                </p>
            </div>
        </div>

        <hr>

        <footer>
            <p>© Guillem Lopez Paradis 2015</p>
        </footer>
    </div>
</div>
